<div class="bodyWrapper">
  <div class="container">
  	<h1>Image Viewer</h1>
  	<p>
  	<% unless params[:student_id] == nil %>
  		Student:
	<% student = Student.find(params[:student_id]) %>
	  	<%= link_to "#{student.first_name} #{student.middle_name} #{student.last_name}", :action => 'show', :controller => 'students', :id => params[:student_id] %>
	<% else %>
		(Key Image)
	<% end %>
  	</p>
  	<% filename = Scansheet.find(params[:id]).image.path.split("/").last %>
  	<% path = "/assets/uploads/scansheet/image/#{params[:id]}/#{filename}" %>
  	<%= image_tag(path) %>

  	<%= link_to "Back", :action => 'show', :controller => 'stats', :id => assignmentFromScansheetId.id, :code => 2 %>
  </div>
</div>
