      <table border="1">
        <tr>
          <th>Student</th>
          <th>Grade</th>
        </tr>
        <% counter = 1 %>
        <% @students_hash.each do |s, a| %>
          <tr>
            <td><%= s.full_name %></td>
            <td><%= s.grade * 100 %></td>
          </tr>
          <% counter += 1 %>
        <% end %>

      </table>
