<div class="bodyWrapper">
  <div class="container">
		<h1>Editing importsheet</h1>

		<%= render 'form' %>

		<%= link_to 'Show', @importsheet %> |
		<%= link_to 'Back', importsheets_path %>
	</div>
</div>
