<div class="bodyWrapper">
  <div class="container">

<h1>Importsheet uploader</h1>
<p>
	Word of warning:
	An invalid file format upload will result in an internal server error. Disregard the message and continue operations.
</p>
<%= render 'form' %>
<div class="backB">
	<ul>
		<li><%= link_to "Finished", :action => 'index', :controller => 'students'%></li>
	</ul>
</div>
	</div>
</div>