<div class="bodyWrapper">
  <div class="container">
    <p>
      This page is deprecated.
    </p>
    <%= link_to 'Back to dashboard', :action => 'dashboard', :controller => 'sessions' %>
  </div>
</div>
