<html>
	<body>
		<p> <a href = "javascript:void(0)" onclick = "document.getElementById('light').style.display='block';document.getElementById('fade').style.display='block'">Select to view an existing test</a></p>
		<div id="light" class="white_content">
		<% john = Course.new(:name => "john") %>
		<% john.save %>
		<% mary = Course.new(:name => "mary") %> 
		<% mary.save %>
		<% derp = Course.new(:name => "derp") %> 
		<% derp.save %>
		<% @course = Course.new %>
		<% @courses = Course.all %>
		<% name_array = Array.new %>
		<% @courses.each{|element| name_array.push(element.name)} %>
		

  <a href = "javascript:void(0)" onclick = "document.getElementById('light').style.display='none';document.getElementById('fade').style.display='none'">Close</a></div>
		<div id="fade" class="black_overlay"></div>
	</body>
</html>