<div class="thisDash">
  <h1>
    <h1>Assignments</h1><br />
  </h1>
  <div class="mainNav">
    <div class="row">
      <div class="span4">
        <ul class="nav nav-tabs nav-stacked">
          <li><%= link_to 'Create new test', :action => 'new', :controller => 'assignments' %></li>
          <li><a href="/assets/template.jpg">Test Template</a></li>
        </ul>
      </div>
      <div class="span8">
        <p class="expoEase">
          Welcome to the Gradesnap grading dashboard. Here you can create a new test or edit and existing one.
        </p>
        <hr class="soften"></div>
    </div>
  </div>
  <div class="ass">
			<h2>All Assignments:</h2>
			<% if @assignments == [] %>
				(You currently have no assignments)
			<% else %>
				<% @assignments.each do |assignment| %>
				<%= link_to "#{assignment.name}", :action => 'show', :controller => 'assignments', :id => assignment.id %>
				<% end %>
			<% end %>
</div>
  <p class="feedMe">
    Gradesnap is always looking to improve. Please
    <%= link_to "contact us", :action =>
    'contact', :controller => 'prelogins' %> with all of your feedback.
  </p>
</div>