<h1>No courses found</h1>

<p>Oops!  It seems you don't have any courses to hold the assignments in yet.  If you want, you can make one <%= link_to "Here", :action => 'new', :controller => 'courses' %>.</p>


