<div class="bodyWrapper">
  <div class="container">
<h1 class="courseH">Assignments</h1>
<p class="welCome">
        Welcome to the Gradesnap grading dashboard. Here you can create a new test or edit an existing one.
</p>
<div class="row">
        <div class="span4">
                <ul class="nav nav-tabs nav-stacked">
                <li>
                <%= link_to 'Create new test', :action =>'new', :controller => 'assignments' %></li>
                <li>
                <a href="/assets/template.jpg">Test Template (Save to computer and print)</a>
                </li>
                </ul>
        </div>
<div class="span8">
<h2>Showing all assignments for:</h2>
<% if @assignments == [] %>
(You currently have no assignments)
<% else %>
<ul class="nav nav-tabs nav-stacked">
<% @courseAssignments.each do |course| %>
<h2><%= course.first.name %></h2>
<% course.last.each do |assignment| %>
<li><%= link_to "#{assignment.name}", :action =>
'show', :controller => 'assignments', :id => assignment.id %></li>
<% end %>
<% end %>
<% end %>
</ul>
</div>
</div>
<hr class="soften">
<p class="feedMe">
        Gradesnap is always looking to improve. Please 
	<a href="mailto:contact@gradesnap.com">contact us</a>
	for your feedback.
</p>
  </div>
</div>
