<% if @students_hash %>
	<% if @students_hash.empty? %>
		<p>
			No students.
		</p>
	<% elsif !@students_hash.empty? %>

        <div>
        <% @students_hash.each do |stdnt, ass_stdnt| %>
        <%  %>
        	<%= form_for ass_stdnt, :url => {:action => 'post_mod'}, :validate => true do |s| %>
	        	<div>
	        		<% s.hidden_field :ass, :value => ass_stdnt %>

	        		<%= link_to "#{stdnt.full_name}", stdnt %>
	        		<%= s.text_field :grade, :value => ass_stdnt.grade %>

	        	</div>
        	<p>
        	<%= s.submit "Update" %>

        	</p>
        	<% end %>
        <% end %>
        </div>

	<% else %>
		<p>
			No Assignment ID came through.
		</p>
	<% end %>

<% else %>
	<p>
		The information necessary to render this page did not come through. Please navigate the site through its links.
	</p>
<% end %>




