<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <style type="text/css">
    body{
      background-color: #444444;
      color: #ffffff;
      font-family: "helvetica neue", arial, sans-serif;
    }
    h1{
      font-weight: 100;
    }
.mailText{
  background-color: #cccccc;
  color: #333333;
  padding: 10px;
  border-radius: 5px;
}
  </style>
  <body>

    <h1>Welcome to Gradesnap Beta!, <%= @user.name %>!</h1>
  <div class="mailText">
    <p>
      You have successfully signed up as a beta member for Gradesnap. 
      <br/>
      <br/>
      your login name is: <%= @user.email %><br/>
    </p>
    <p>
      To confirm your account, just follow this link: <%= @url %>.
    </p>
    <p>Thanks for joining and have a great day!</p>
  </div>
  </body>
</html>
