<div class="bodyWrapper">
  <div class="container">
  	<h1>Image Viewer</h1>
  	<p>
  	<% unless params[:student_id] == nil %>
  		Student:
	  	<%= link_to "#{params[:student_name]}", :action => 'show', :controller => 'students', :id => params[:student_id] %>
	<% else %>
		(Key Image)
	<% end %>
  	</p>

    <p>Welcome to the Answer Verification page.  If you're here, then it means our algorithm wasn't sure if some of the answer bubbles were filled or not.  We've listed the tricky ones and what we think the answer is.  Set the answer and click the "Done" button when everything is set.
    </p>

  	<%= image_tag(@showHash[:path]) %>

    <%= render :partial => 'form-answerBoxes' %>

  	<%= link_to "Back", :action => 'show', :controller => 'stats', :id => assignmentFromScansheetId.id, :code => 1 %>
  </div>
</div>
