<div class="bodyWrapper">
  <div class="container">
  	<h1>All Issues</h1>
  	<% count = 0 %>
  	<% unless @issues == [] %>
	  	<% @issues.each do |issue| %>
	  		<%= link_to "#{issue.name}", :action => 'show', :controller => 'issues', :id => issue.id %><br /><br />
	  		<% count += 1 %>
	  	<% end %>
	<% else %>
		<h2>{There are currently no issues}</h2>  	
	<% end %>
  </div>
</div>


