<div class="bodyWrapper">
  <div class="container">
  	<h1 class="courseH">All Issues</h1>
  	<% count = 0 %>
  	<% unless @issues == [] %>
	  	<% @issues.each do |issue| %>
<div class="backB">
	  <ul>		
	  	<li><%= link_to "#{issue.name}", :action => 'show', :controller => 'issues', :id => issue.id %></li>
	  </ul>
	</div>
	  		<% count += 1 %>
	  	<% end %>
	<% else %>
		<h2>{There are currently no issues}</h2>  	
	<% end %>
  </div>
</div>


