<div class="bodyWrapper">
  <div class="container">
  	<h1>Image Viewer</h1>
  	<p>
  	<% unless params[:student_id] == nil %>
  		Student:
	  	<%= link_to "#{params[:student_name]}", :action => 'show', :controller => 'students', :id => params[:student_id] %>
	<% else %>
		(Key Image)
	<% end %>
  	</p>
  	<%= image_tag(@showHash[:path]) %>

  	<%= link_to "Back", :action => 'show', :controller => 'stats', :id => assignmentFromScansheetId.id, :code => 2 %>
  </div>
</div>