<div class="bodyWrapper">
  <div class="container">
		<h1>Editing excelsheet</h1>

		<%= render 'form' %>

		<%= link_to 'Show', @excelsheet %> |
		<%= link_to 'Back', excelsheets_path %>
	</div>
</div>
