

<h1>Excelsheet uploader</h1>
<p>
	Word of warning:
	An invalid file format upload will result in an internal server error. Disregard the message and continue operations.
</p>
<%= render 'form' %>

<%= link_to "Finished", :action => 'dashboard', :controller => 'sessions'%>
<%= render 'shared/footer' %>