<div class="bodyWrapper">
  <div class="container">
    <h1>Listing students</h1>

      <tr>
        <th>Name</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>

    <% @students.each do |student| %>
    <p>
      <tr>
            <td><%= link_to "#{student.first_name}  #{student.middle_name}  #{student.last_name}", student %></td>  
            <b>Current grade:</b>
            <%= student.grade %>
      </tr>
    </p>
    <% end %>

    <br />
    <%= link_to 'Back', :action => 'dashboard', :controller => 'sessions' %>
    <%= link_to 'Add students', :action => 'new', :controller => 'students' %>
  </div>
</div>
