<div class="bodyWrapper">
  <div class="container">
		<h1>New student</h1>

		<%#if flash[:course].num_students > 0 then %>
		<%= render 'form' %>
		<%# end %>

		<%= link_to 'Back', :action => "index", :controller => "students" %>
	</div>
</div>
