  <footer class="footer">
      <p>Copyright Gradesnap LLC 2012</p>
    <div class="footerMenu">
      <p class="address">
          Gradesnap LLC<br />
          125 Tech Park Drive<br />
          Rochester, NY 14623<br /></p>
      </div>
    </footer>