<div class="footerWrapper">
  <div class="container">
    <div class="row">
      <div class="span4">
        <p class="headerPBW">Community</p>
        <p class="B">
          <ul>
            <li>
              <a href="#">Forums</a>
            </li>
            <li>
              <a href="#">Contact</a>
            </li>
            <li>
              <a href="#">Send Feedback</a>
            </li>
          </ul>
        </p>
      </div>
      <!-- -->
      <div class="span4">
        <p class="headerPBW">Site Links</p>
        <p class="B">
          <ul>
            <li>
              <a href="#">Home</a>
            </li>
            <li>
              <a href="#">Features</a>
            </li>
            <li>
              <a href="#">About Us</a>
            </li>
            <li>
              <a href="#">Contact</a>
            </li>
            <li>
              <a href="#">Sign Up</a>
            </li>
          </ul>
        </p>
      </div>
      <!-- -->
      <div class="span4">
        <p class="headerPBW">Gradesnap</p>
        <p class="BW">
          Gradesnap LLC
          <br />
          125 Tech Park Drive
          <br />
          Rochester NY, 14623
        </p>
      </div>
    </div>
    <p class="center">Copyright Gradesnap LLC 2012</p>
  </div>
</div>