<div class="bodyWrapper">
  <div class="container">
    <h1 class="courseH">Listing courses</h1>
    <% @courses.each do |course| %>
    <ul class="nav nav-tabs nav-stacked">
      <li>
        <%= link_to "#{course.name}", course %></li>
      <% end %>

      <div class="backB">
        <ul>
          <li>
            <%= link_to 'Back', :action =>'dashboard', :controller => "sessions" %>
          </li>
          <li>
            <%= link_to 'New Course', new_course_path %>
          </li>
        </ul>
      </div>
    </div>
  </div>