<div class="bodyWrapper">
  <div class="container">
    <h1 class="">Listing courses</h1>


    <% @courses.each do |course| %>

        <td><%= link_to "#{course.name}", course %></td> | 
        <td><%= link_to "Statistics", :action => 'show', :controller => 'stats', :id => course.id, :code => "course" %></td>

    <% end %>
 

    <%= link_to 'Back', :action => 'dashboard', :controller => "sessions" %> |
    <%= link_to 'New Course', new_course_path %>

  </div>
</div>
