<div class="bodyWrapper">
  	<div class="container">
		<h1 class="courseH">New course</h1>

		<%= render 'form' %>
  <div class="backB"> 
    <ul>
		<li><%= link_to 'Back', courses_path %></li>
	</ul>
</div>
	</div>
</div>
