      <table border="1">
        <tr>
          <th>Student</th>
          <th>Grade</th>
        </tr>
        <% counter = 1 %>
        <% @students.each do |s| %>
          <tr>
          	<td><%= s.grade %></td>
            <td><%= @student_names[counter] %></td>
          </tr>
          <% counter += 1 %>
        <% end %>

      </table>