<div class="howIt">
      <h2>How it works</h2>
    <p>Gradesnap uses image recognition software<br /> to grade your tests. After we have your tests<br /> graded we can create a wide range of statistics automatically for you.</p>
    <p><strong>Making the web work</strong></p>
    <ul>
        <li>1: Print the <a href="test.html">free-to-print</a> copies of the <br />test template</li>
        <li>2: Fill in the bubbles</li>
        <li>3: Scan in through any conventional <br />digital scanner</li>
        <li>4: Upload to Gradesnap or email to grade@gradesnap.com</li>
        <li>5: Select the key</li>
        <li>6: Grades in seconds and outputs <br />useful statistics</li>
    </ul>
  </div>
</div>
<div class="mid">
  <div class="midText">
    <div class="row">
      <div class="span4">
        <h2>You matter to us</h2>
        <p>Gradesnap allows teachers to print bubble sheets, scan them with conventional scanners, send them here, and let us take care of the rest.  You can focus on teaching the class - let us handle the busy work.</p>
      </div>
      <div class="span4">
        <h2>Get Gradesnap</h2>
        <p>Gradesnap is looking for beta testers. Click <a href="">here</a> to sign up and see how the world of Gradesnap will change your world of grading.</p>  
      </div>
    </div>
  </div>