<h1>{ The Future Of Grading }</h1>
	<p>Gradesnap provides teachers with the ability to grade exams from 
	anywhere in the world, all while automatically generating an entire 
	suite of statistics.</p>
	<p class="no"> No manual input | No time wasted grading</p>