<div class="mid">
<div class="rowMover">
	<div class="row">
		<div class="span4">
        	<img src="/assets/imgOne.png">
          	<h2>Grade your tests</h2>
            	<p>Print bubble sheets, scan them with any conventional scanner, upload them here. We'll grade them in seconds.</p>
      	</div>
        <div class="span4">
          <img src="/assets/imgTwo.png">
         <h2>Does the busy work</h2>
            <p>Compiles full statistics, down to the most-frequently chosen wrong answer for each question. </p>
      	</div>
        <div class="span4">
          <img src="/assets/imgThree.png">
         <h2>Simplifies teaching</h2>
            <p>Question banks, score comparison, and much more will let you focus on teaching without the time-consuming chores.</p>
    	</div>
	</div>
</div>
</div>