<div class="container move">
	<%= link_to image_tag("/assets/logo.png", :border =>
	0), {:action => 'index', :controller => 'prelogins'} %>
	<div class="alert alert-info pull-right overF"> <strong><span class="icon-star"></span>
<<<<<<< HEAD
			Gradesnap has launched! Sign up
			<%= link_to 'here!',:action =>
			'new',:controller => 'users' %>
=======
			Get in the
			<%= link_to 'BETA now!',:action =>
			'new',:controller => 'users' %> All BETA users will get Gradesnap 50% OFF!
>>>>>>> 30a5c2fb9cf29aac97b4ae794ce351a5915e24e2
			<span class="icon-star"></span></strong> 
	</div>
</div>
