<div class="container move">
	<%= link_to image_tag("/assets/logo.png", :border =>
	0), {:action => 'index', :controller => 'prelogins'} %>
	<div class="alert alert-info pull-right overF"> <strong><span class="icon-star"></span>
			Gradesnap has launched! Sign up
			<%= link_to 'here!',:action =>
			'new',:controller => 'users' %>
			<span class="icon-star"></span></strong> 
	</div>
</div>
