<div class="container move">
	<%= link_to image_tag("/assets/logo.png", :border =>
	0), {:action => 'index', :controller => 'prelogins'} %>
	<div class="alert alert-info pull-right overF"> <strong><span class="icon-star"></span>
			Get in the
			<%= link_to 'BETA now!',:action =>
			'new',:controller => 'users' %> All BETA users will get Gradesnap 50% OFF!
			<span class="icon-star"></span></strong> 
	</div>
</div>
