<div class="theTeam">
    <h2>Contact Gradesnap</h2>
    <p>Gradesnap is always looking to hear back from our users. Have an idea? Love our product? Drop us a line and we'll get back
     to you as soon as we can. Thank you for using Gradensnap!</p>
</div>
</div>
<div class="mid">

<div class="rowMover">
<div class="row">
<div class="span4">
  <h2>On Twitter</h2>
  <p>Got something short and sweet to say? Have an idea for us that isn't pressing. Send us a Tweet! Follow our twitter page by clicking <a href="https://twitter.com/#!/GradeSnap">here.</a></p>
</div>
<div class="span4">
  <h2>By Mail</h2>
  <p>We can be contacted by mail. Send your questions, comments and concerns to: <strong><br />Gradesnap LLC <br />125 Tech Park Drive <br />Rochester NY 14623</strong></p>
</div>
<div class="span4">
  <h2>By E-Mail</h2>
  <p>Contact us the fastest way! Go <a href="mailto:contact@gradesnap.com">here</a> and email us with any questions or concerns?</p>
</div>
    </div>
  </div>
