<div style="height:300px;overflow:auto;">
	<div class="privPolicy">
		<h1>Privacy Policy</h1>

		<p> <b>What information do we collect?</b>
		</p>

		<p>
			>	We collect information when you register on our site, fill out a form, and upload files
		</p>
		<p>
			>	When you register: we may collect your name and email address
		</p>
		<p>
			>	When you register for our service, as appropriate, you may be asked to enter your: name or e-mail address.
		</p>
		<p>
			>	We use analytics software to track the number of viewers on our site.  So long as you input no information, we have no information about you personally.
		</p>
		<p>
			>	We reserve the right to track sessions while you're logged in, which may include IP address, email address, and timestamps.  Sessions are provided thirty minutes of idle time (no requests made from the user of the session to our website) before you are automatically logged off, for safety reasons.
		</p>

		<p>
			<p> <b>What do we use this information for?</b>
			</p>

			<p>
				Any of the information we collect from you may be used in one of the following ways:
			</p>

			<p>
				>	To personalize your experience (ex: display email address)
			</p>
			<p>
				>	To improve our website (we continually improve our site and its offerings based on the feedback and information we receive from you)
			</p>
			<p>
				>	To improve customer service (your information helps is better respond to your customer service and support needs)
			</p>
			<p>
				>	To securely process transactions
			</p>

			<p>
				<b>Gradesnap will never sell, exchange, trade, or transfer to any other given to any other company or institution your personally identifiable information, without your consent, except in the case of a court order, or health or safety emergency of the student or anyone at the school (if applicable).</b> 
			</p>

			<p>
				<b>Gradesnap respects your FERPA obligations for privacy.</b>
			</p>

			<p>
				>	To send periodic emails
			</p>

			<p>
				The email address you provide to register may be used to send you information and updates pertaining to Gradesnap, in addition to receiving occasional company news, updates, related product or service information, etc.
			</p>

			<p>
				Note: If at any time you would like to unsubscribe from receiving future emails (sent on a subscription - not personal - basis), we include detailed unsubscribe instructions at the bottom of each email.
			</p>

			<p>
				Gradesnap also respects the privacy of communication and gives its customers the option to receive periodic messages.  A customer may change their setting at any time.
			</p>

			<p>
				<p>
					<b>How do we protect your information?</b>
				</p>

				<p>
					Gradesnap uses industry standard security measures to protect your information.
				</p>

				<p>
					We implement a variety of security measures to maintain the safety of your personal information when you access it, including (but not limited to) Secure Socket Layer (SSL) certificates, password hashing and "salting", etc.
				</p>

				<p>
					<p>
						<b>Do we disclose any information to outside parties?</b>
					</p>

					<p>
						We do not sell, trade, or otherwise transfer to outside parties your personally identifiable information.  This does not include trusted third parties who assist us in operating our website, conducting our business, or servicing you, so long as those parties agree to keep this information confidential.  We may also release your information when we believe release is appropriate to comply with the law, enforce our policies, or protect our or others' rights, property, or safety.  However, non-personally identifiable visitor information may be provided to other parties for marketing, advertising, or other uses.
					</p>

					<p>
						<p>
							<b>Third party links</b>
						</p>

						<p>
							Occasionally, at our discretion, we may include or offer third party products or services on our website.  These third party sites have separate and independent privacy policies.  We therefore have no responsibility or liability for the content and activities of these linked sites.  Nonetheless, we seek to protect the integrity of our site and welcome any feedback about these sites.
						</p>

						<p>
							<p>
								<b>Online Privacy Policy Only</b>
							</p>

							<p>
								This online privacy policy applies only to information collected through our website and not to information collected offline.
							</p>

							<p>
								<p>
									<b>End User License Agreement</b>

									<p>
										Please also visit our End User License Agreement for a full description of the EULA at http://www.gradesnap.com/legal
									</p>

									<p>
										<b>Contacting Us</b>
									</p>

									<p>
										If there are any questions regarding this privacy policy you may contact us using the information below
									</p>

									<p>http://www.gradesnap.com</p>
									<p>125 Tech Park Drive</p>
									<p>Rochester, NY 14623</p>
									<p>USA</p>
									<p>contact@gradesnap.com</p>

								</p>

							</div>

						</div>