<%= render :partial => 'logo' %>

<!-- end body container -->
<div class="lowerBody">
  <div class="container">
    <div class="team">
      <div class="teamHeader">
        <h1>The Gradesnap Team:</h1>
      </div>
      <div class="who">
        <div class="whoHeader">
          <h1>Nikko Schaff</h1>
        </div>
        <div class="headshot">
          <!-- TODO add -->
        </div>
        <p>
          Nikko is an entrepreneurial Computer Science student at RIT.  He is determined, hard-working, and always looking for opportunity.  His upbringing in education-centric Ithaca, NY led him to strive to make a difference for teachers.
        </p>
      </div>
      <div class="who">
        <div class="whoHeader">
          <h1>Ryan Rich</h1>
        </div>
        <div class="headshot">
          <!-- TODO add -->
        </div>        
        <p>
          <!-- TODO add -->
        </p>       
      </div>
      <div class="who">
        <div class="whoHeader">
          <h1>Nick Schoichet</h1>
        </div>
        <div class="headshot">
          <!-- TODO add -->
        </div>        
        <p>
          <!-- TODO add -->
        </p>
      </div>
      <div class="who">
        <div class="whoHeader">
          <h1>Conor Craig</h1>
        </div>
        <div class="headshot">
          <!-- TODO add -->
        </div>        
        <p>
          Going into his third year as a Software Engineering student at RIT, Conor joined Gradesnap in the winter of 2011. He is a balancing factor in the Gradesnap team, providing organizational insight and critical problem solving skills. 
        </p>
      </div>              
    </div>
  </div>
</div>
