<%= render :partial => 'logo' %>

<!-- end body container -->
<div class="lowerBody">
  <div class="container">
    <div class="rowMover">
      <div class="row">
        <div class="span4">
          <p class="headerP">About Us</p>
          <p>
            Gradesnap started with one very simple idea. How can grading be faster?</p>
          </p>
            <p class="thatPee">In early 2011, our co-founder, Nikko Schaff, was sitting down to take a midterm, noticing that the multiple-choice bubbles were extremely wide. When asking why, the professor explained that his answer key is the same sheet with the right answers cut out, so he can lay it over a student's sheet and count the right answers quickly. "Taking a picture and grading with an iPhone app might work too," Nikko thought out loud. Thinking no more of it, he took his test and left.</p>
          </p>
        </div>
        <!-- -->
        <div class="span4">
          <p class="headerP"> &nbsp;</p>
            <p class="thatPee">Two days later, upon coming into class, the professor approached Nikko and said, "Hey, yesterday I talked to five of my teacher-friends about the grading app idea, and we all want it!" That was more than enough to show him that teachers really wanted a simple way to grade their exams, so he formed a team to launch a company with one goal: to make teachers' lives better through software.</p>
          </p>
        </div>
        <!-- -->
        <div class="span4">
          <p class="headerP"> &nbsp;</p>
          <h2>The Gradesnap Team</h2>
             <p class="thatPee underLine"><strong>Nikko Schaff | CEO</strong><br />Co-Founder | Computer Imaging</p>
             <p class="thatPee underLine"><strong>Ryan Rich</strong><br />Co-Founder | User Experience Designer</p>
             <p class="thatPee underLine"><strong>Nick Schoichet</strong><br />Co-Founder | Marketing Director</p>
             <p class="thatPee underLine"><strong>Conor Craig</strong><br />Software Engineer</p>

          </p>
        </div>
        <!-- -->
        <!--/row--> </div>
    </div>
  </div>
  <div class="bodyWrapperM">
    <div class="container"></div>
    <div class="row">
      <div class="span4">
        <p class="headerPB">
          Creating What You Want
        <p class="B">
          Gradesnap was created from one simple idea. Make grading multiple choice tests quick. That has been our focus through the creating process. 
        </p>
      </div>
      <!-- -->
      <div class="span4">
        <p class="headerPB">
          The Future Continues
        <p class="B">
          Gradesnap will continue to roll our features as we hear what you want out of our software. We are currently working on hand written answer recognition.
        </p>
      </div>
      <!-- -->
      <div class="span4">
        <p class="headerPB">
          Tell Us
        <p class="B">
         As always we want to hear from you. Please go <a href="">here</a> and fill out a feedback form. In the form feel free to say whatever you like.
        </p>

      </div>
      <!-- -->
      <!--/row--> </div>
  </div>
</div>
