<div class="logo">
  <div class="container">
    <%= image_tag('/assets/logo.png') %>
    <%= image_tag('/assets/current.png' , :class =>'pull-right fux' ) %></div>
</div>
<div class="datHeader">
  <div class="container">
    <div class="alert alert-info">
     <strong>Who is Gradesnap? We are a team of devoted developers and designers that are focused on getting teachers the product they want and deserve.</strong>
    </div>
  </div>
</div>
<!-- end body container -->
<div class="lowerBody">
  <div class="container">
    <div class="rowMover">
      <div class="row">
        <div class="span4">
            <h3 class="fuxYes">The Gradesnap Way</h3>
            <p class="thatPee">
              Gradesnap is currently looking for testers. Get you hands on our product and tell us exactly what you want to see from us. The more help we get, the better we can make it for you.
          </p>
        </div>
        <!-- -->
        <div class="span4">
            <p class="thatPee">Save Time. Save Money. Gradesnap will not only save you thousands by avoiding expensive grading machines, it will save you hours of time. Gradesnap can grade a test in less than a half of a second. With processing power like that you can have hundreds of tests graded in seconds.</p>
          </p>
        </div>
        <!-- -->
        <div class="span4">
             <p class="thatPee">Gradesnap is currently looking for testers. Get you hands on our product and tell us exactly what you want to see from us. The more help we get, the better we can make it for you.</p>
        </div>
        <!-- -->
        <!--/row--> </div>
    </div>
  </div>
  <div class="datHeader">
    <div class="container">
       <div class="row">
        <!-- -->
         <div class="span4">
          <p>
          </p>
          <p>
          </p>
        </div>
        <!-- -->
         <div class="span4">
          <p>
            <p></p>
          </p>
          <p>
          </p>
        </div>
        <!-- -->
         <div class="span4">
          <p>
           
          </p>
       
        </div>
        <!-- -->
       </div>
      </div>
  </div>
