<%= render :partial => 'logo' %>

<!-- end body container -->
<div class="lowerBody">
  <div class="container">
    <div class="rowMover">
      <div class="row">
        <div class="span4">
          <p class="headerP">About Us</p>
          <p>
            Gradesnap started with one very simple idea. How can grading be faster?</p>
          </p>
            <p class="thatPee">Suspendisse consectetur eros arcu. Vestibulum ullamcorper, ipsum ac venenatis tristique, mauris massa cursus augue, sit amet malesuada odio leo sit amet dui. Nunc vel libero feugiat enim lobortis euismod. Donec auctor cursus odio, sit amet mattis lectus facilisis at. Curabitur dictum gravida pharetra. Quisque sit amet metus vitae massa pulvinar scelerisque a eu massa. Ut hendrerit egestas orci ac viverra. Proin ut mollis mauris. Donec sed quam quis dui commodo condimentum nec at libero. Cras imperdiet nisl nec nisl laoreet imperdiet. Nunc accumsan mi vitae ipsum adipiscing consectetur. Aliquam erat volutpat.</p>
          </p>
        </div>
        <!-- -->
        <div class="span4">
          <p class="headerP"> &nbsp;</p>
            <p class="thatPee">Suspendisse consectetur eros arcu. Vestibulum ullamcorper, ipsum ac venenatis tristique, mauris massa cursus augue, sit amet malesuada odio leo sit amet dui. Nunc vel libero feugiat enim lobortis euismod. Donec auctor cursus odio, sit amet mattis lectus facilisis at. Curabitur dictum gravida pharetra. Quisque sit amet metus vitae massa pulvinar scelerisque a eu massa. Ut hendrerit egestas orci ac viverra. Proin ut mollis mauris. Donec sed quam quis dui commodo condimentum nec at libero. Cras imperdiet nisl nec nisl laoreet imperdiet. Nunc accumsan mi vitae ipsum adipiscing consectetur. Aliquam erat volutpat.</p>
          </p>
        </div>
        <!-- -->
        <div class="span4">
          <p class="headerP"> &nbsp;</p>
             <p class="thatPee">Suspendisse consectetur eros arcu. Vestibulum ullamcorper, ipsum ac venenatis tristique, mauris massa cursus augue, sit amet malesuada odio leo sit amet dui. Nunc vel libero feugiat enim lobortis euismod. Donec auctor cursus odio, sit amet mattis lectus facilisis at. Curabitur dictum gravida pharetra. Quisque sit amet metus vitae massa pulvinar scelerisque a eu massa. Ut hendrerit egestas orci ac viverra. Proin ut mollis mauris. Donec sed quam quis dui commodo condimentum nec at libero. Cras imperdiet nisl nec nisl laoreet imperdiet. Nunc accumsan mi vitae ipsum adipiscing consectetur. Aliquam erat volutpat.</p>
          </p>
        </div>
        <!-- -->
        <!--/row--> </div>
    </div>
  </div>
  <div class="bodyWrapperM">
    <div class="container"></div>
    <div class="row">
      <div class="span4">
        <p class="headerPB">
          Creating What You Want
        <p class="B">
          Gradesnap was created from one simple idea. Make grading multiple choice tests quick. That has been our focus through the creating process. 
        </p>
      </div>
      <!-- -->
      <div class="span4">
        <p class="headerPB">
          The Future Continues
        <p class="B">
          Gradesnap will continue to roll our features as we hear what you want out of our software. We are currently working on hand written answer recognition.
        </p>
      </div>
      <!-- -->
      <div class="span4">
        <p class="headerPB">
          Tell Us
        <p class="B">
         As always we want to hear from you. Please go <a href="">here</a> and fill out a feedback form. In the form feel free to say whatever you like.
        </p>

      </div>
      <!-- -->
      <!--/row--> </div>
  </div>
</div>
