  <!-- end navbar -->
  <div class="datHeader">
    <div class="container">
    <div class="contactC">
      <form class="form-horizontal">
        <fieldset>
          <p class="contactH">Contact Form</p>
            <div class="control-group">
              <label class="control-label" for="input01">Name</label>
            <div class="controls">
              <input type="text" class="input-xlarge" id="input01">
              <p class="help-block">&nbsp;</p>
            </div>
            <div class="control-group">
              <label class="control-label" for="input01">Email Address</label>
            <div class="controls">
              <input type="text" class="input-xlarge" id="input01">
              <p class="help-block">&nbsp;</p>
            </div>
              <div class="control-group">
            <label class="control-label" for="textarea">Message</label>
            <div class="controls">
              <textarea class="input-xlarge" id="textarea" rows="3"></textarea>
            </div>
          </div>
            </div>
            <div class="moveFucker">
              <button class="btn btn-success">&nbsp;Submit&nbsp;</button>
            </div>
        </fieldset>
      </form>
    </div>
        <!-- -->
       </div>
      </div>
  </div>
<!-- end body container -->