<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Gradesnap: The Future Of Grading</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  <link href="assets/css/bootstrap.css" rel="stylesheet">
  <link href="assets/css/bootstrap-responsive.css" rel="stylesheet">
  <link href="assets/css/docs.css" rel="stylesheet">
  <link href="assets/js/google-code-prettify/prettify.css" rel="stylesheet">
  <link href='http://fonts.googleapis.com/css?family=Quicksand:300,400,700' rel='stylesheet' type='text/css'>
  <!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <link rel="shortcut icon" href="assets/ico/favicon.ico"></head>
<body data-spy="scroll" data-target=".subnav" data-offset="50">
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <button type="button"class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <div class="nav-collapse collapse">
          <ul class="nav">
            <li>
              <a href="index.html">Home</a>
            </li>
            <li class="">
              <a href="features.html">Features</a>
            </li>
            <li class="">
              <a href="about.html">About Us</a>
            </li>
            <li class="">
              <a href="contact.html">Contact</a>
            </li>
            <li class="">
              <a href="sign.html">Sign Up</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <ul class="signUp">
      <li>
        <form class="form-inline">
          <input type="text" class="input-small" placeholder="Username"/>
          <input type="password" class="input-small" placeholder="Password"/>
          <button type="submit" class="btn" style="font-family: 'Quicksand', sans-serif; color: #111111;">Sign in</button>
        </form>
      </li>
    </ul>
  </div>
  <div class="logo">
    <div class="container">
      <img src="images/logo.png"><img class="pull-right fux" src="images/current.png"></div>
  </div>
  <div class="container">
    <div class="datUs">
      <p>Who Is Gradesnap?</p>
    </div>
</div>
  <!-- end navbar -->
  <div class="datHeader">
    <div class="container">
      <div class="alert alert-info">
       <strong>Gradesnap is a company based out of Rochester NY. We pride ourselves as a team that has created software for teachers. We believe this software is so powerful that it will change the way you grade.</strong>
      </div>
    </div>
  </div>
<!-- end body container -->
<div class="lowerBody">
  <div class="container">
    <div class="rowMover">
      <div class="row">
        <div class="span4">
            <h3 class="fuxYes">The Gradesnap Way</h3>
            <p class="thatPee">
              Gradesnap is currently looking for testers. Get you hands on our product and tell us exactly what you want to see from us. The more help we get, the better we can make it for you.
          </p>
        </div>
        <!-- -->
        <div class="span4">
            <p class="thatPee">Save Time. Save Money. Gradesnap will not only save you thousands by avoiding expensive grading machines, it will save you hours of time. Gradesnap can grade a test in less than a half of a second. With processing power like that you can have hundreds of tests graded in seconds.</p>
          </p>
        </div>
        <!-- -->
        <div class="span4">
             <p class="thatPee">Gradesnap is currently looking for testers. Get you hands on our product and tell us exactly what you want to see from us. The more help we get, the better we can make it for you.</p>
        </div>
        <!-- -->
        <!--/row--> </div>
    </div>
  </div>
 
<!-- footer -->
<div class="footerWrapper">
  <div class="container">
    <div class="row">
      <div class="span4">
        <p class="headerPBW">Community</p>
        <p class="B">
          <ul>
            <li>
              <a href="#">Forums</a>
            </li>
            <li>
              <a href="#">Contact</a>
            </li>
            <li>
              <a href="#">Send Feedback</a>
            </li>
          </ul>
        </p>
      </div>
      <!-- -->
      <div class="span4">
        <p class="headerPBW">Site Links</p>
        <p class="B">
          <ul>
            <li>
              <a href="#">Home</a>
            </li>
            <li>
              <a href="#">Features</a>
            </li>
            <li>
              <a href="#">About Us</a>
            </li>
            <li>
              <a href="#">Contact</a>
            </li>
            <li>
              <a href="#">Sign Up</a>
            </li>
          </ul>
        </p>
      </div>
      <!-- -->
      <div class="span4">
        <p class="headerPBW">Gradesnap</p>
        <p class="BW">
          Gradesnap LLC
          <br />
          125 Tech Park Drive
          <br />
          Rochester NY, 14623
        </p>
      </div>
      <!-- -->
      <!--/row--> </div>
      <p class="center">
        Copyright Gradesnap LLC 2012
      </p>
  </div>
</div>
<!-- end footer -->
<script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
<script src="assets/js/jquery.js"></script>
<script src="assets/js/google-code-prettify/prettify.js"></script>
<script src="assets/js/bootstrap-transition.js"></script>
<script src="assets/js/bootstrap-alert.js"></script>
<script src="assets/js/bootstrap-modal.js"></script>
<script src="assets/js/bootstrap-dropdown.js"></script>
<script src="assets/js/bootstrap-scrollspy.js"></script>
<script src="assets/js/bootstrap-tab.js"></script>
<script src="assets/js/bootstrap-tooltip.js"></script>
<script src="assets/js/bootstrap-popover.js"></script>
<script src="assets/js/bootstrap-button.js"></script>
<script src="assets/js/bootstrap-collapse.js"></script>
<script src="assets/js/bootstrap-carousel.js"></script>
<script src="assets/js/bootstrap-typeahead.js"></script>
<script src="assets/js/application.js"></script>

</body>
</html>