<div class="eula">
	<h1>End User License Agreement</h1>
	AGREEMENT
<p>
This Agreement ("Agreement") is entered into between GradeSnap, LLC ("Licensor") and the Licensee [identified on the signature page to this Agreement] ("Licensee") as of the date of signature by Licensee (the “Effective Date”).    
</p>

<p>
In consideration of the mutual obligations described in this Agreement and for other good and valuable consideration, the receipt and sufficiency of which are hereby acknowledged, the parties agree as follows:
</p>

<p>
1. USE PERMIT.  Licensor hereby grants Licensee a nonexclusive, nontransferable right to access remotely and use Licensor’s proprietary software and software provided by third parties (collectively referred to as “Software”) and any written materials and documentation that accompany the Software that Licensor generally provides to licensees of the Software ("Documentation"), all as specifically described in Schedule A to this Agreement.  This license will terminate immediately upon any termination of this Agreement.  
<p>

<p>
2.	SCOPE OF LICENSE AND USE.   
</p>

<p>
(a)	Internal Use.  Licensee may use the Software and the Documentation only for its own internal use to process its own data.  Licensee has no right to sublicense the Software, or to use the Software to provide service bureau, data processing, or time sharing services for third parties, or to otherwise allow a third party to use the Software directly or indirectly.  Licensee may add users to this license by paying Licensor its then-current fee for each additional user.   
</p>

<p>
(b)	Affiliates.  Under this Agreement, the term “Licensee” does not include any parent, subsidiary, affiliate or employee (each, an “Affiliate”) of Licensee.  No Affiliate of Licensee is permitted to access or use the Software.  In the event an Affiliate of Licensee desires to use the Software or Licensee desires to use the Software to process the data of an Affiliate, that Affiliate must enter into a separate agreement with and pay all applicable fees to Licensor.  
</p>

<p>
3.	PAYMENT FOR USE.  Licensee will pay Licensor the license and other fees specified in Schedule A for the use granted herein.  All fees referred to in this Agreement are in United States dollars and do not include any taxes or handling fees.  Whenever imposed, all taxes and handling fees are payable by Licensee.  All fees will be payable through Paypal debited against the credit card or bank account established by licensee.  Any amount payable under this Agreement and not paid within 30 days after its invoice date will accrue interest at the rate of 1.5% per month or at the maximum lesser rate allowed by law.  Licensee will pay Licensor all such interest and costs of collection, including but not limited to, attorneys' fees and court costs.  Licensor retains the right to suspend Licensee’s right to use the Software or terminate this Agreement for nonpayment of fees.
</p>

<p>
4.	TITLE; CONFIDENTIALITY.  
</p>

<p>
(a)	Title.  Licensee acknowledges that the Software, the Documentation and any and all enhancements, modifications, additions or new releases of or to the Software or the Documentation (collectively, the “Proprietary Materials”) contain confidential information of, are trade secrets of, and are proprietary to Licensor and its licensors and that title to the Proprietary Materials is and shall remain in Licensor and its licensors, as the case may be.  All applicable rights to patents, copyrights, trademarks and trade secrets in the Proprietary Materials are and shall remain in Licensor and its licensors.  Licensee shall not assert any right, title or interest in the Proprietary Materials provided to Licensee under this Agreement, except for the non-exclusive, limited right of use granted to Licensee hereunder.  Licensee shall not remove any copyright or other proprietary notice or legend contained on or included in any Proprietary Materials.  Licensee will not reverse engineer, disassemble, decompile or unlock the Software in whole or in part for any reason.  Licensee will keep the Software free of all claims, liens and encumbrances. 
</p>

<p>
(b)	Confidentiality.  Each party agrees to retain in confidence and not (except in furtherance of this Agreement) to use or disclose any business and/or technical information of the other party designated in writing as "Confidential", without the prior written consent of the other party and then only to the extent specified in such consent.  In particular, Licensee acknowledges that Licensor considers the Proprietary Materials to be secret and proprietary information of great value to Licensor.  Each party will maintain the confidential information of the other party as "company confidential" or equivalent, with access only by those employees who have a need to access such information and who have entered into appropriate confidentiality agreements.  Each party will use reasonable efforts to assure compliance with the terms of such agreements.  However, neither party shall have any confidentiality obligation with respect to disclosure of such information to others not parties to this Agreement that: (i) is or becomes available to the public through no breach of this Agreement; (ii) was previously known by the receiving party without any obligation to hold it in confidence; (iii) is received from a third party free to disclose such information without restriction; (iv) is independently developed by the receiving party without the use of the confidential information of the disclosing party; (v) is approved for release by written authorization of the disclosing party, but only to the extent of such an authorization; or (vi) is disclosed in response to a valid order of a court or other governmental body of the United States or any political subdivision thereof, but only to the extent of and for the purposes of such order, and only if the receiving party first notifies the disclosing party of the order and permits the disclosing party to seek an appropriate protective order.  Nothing herein shall restrict Licensor from use of any de-identified data extrapolated from use of the Software. The obligations of this paragraph 4(b) will survive for 5 years following any termination of this Agreement.
</p>

<p>
5.	WARRANTIES.  
</p>

<p>
(a)	Conformity to Specifications. Licensor warrants that the Software will operate substantially in accordance with the Documentation.  In the event that during this warranty period the Software does not operate in substantial conformity with the Documentation, Licensee will so notify Licensor in writing within 15 days following the appearance of such defect and will transmit by e-mail or acceptable media all data processed by the Software as reasonably requested by Licensor in order to troubleshoot the reported nonconformity.  If Licensee timely notifies Licensor of any such nonconformity, Licensor will at its sole and exclusive option either use commercially reasonable efforts to cure such nonconformity within a reasonable period of time or replace Licensee's copy of the Software with another copy.  THIS IS LICENSEE'S EXCLUSIVE REMEDY FOR A FAILURE OF THE SOFTWARE TO SUBSTANTIALLY CONFORM TO THE DOCUMENTATION.
</p>

<p>
(b)	Exclusions and Disclaimers. The warranties contained in paragraph 6(a) will not apply if: (i) Licensee does not use the Software in accordance with the Documentation; (ii) Licensee alters, modifies or converts the Software; (iii) Licensee's computer(s) malfunction and the malfunction causes the defect, error or problem; or (iv) the defect, error or problem results from any other cause within the control of Licensee, including, without limitation, Licensee data entry error or use of inaccurate data by Licensee.  LICENSOR DOES NOT WARRANT THAT THE FUNCTIONS PERFORMED BY THE SOFTWARE WILL MEET LICENSEE'S REQUIREMENTS, THAT THE SOFTWARE WILL OPERATE ERROR FREE, WITHOUT INTERRUPTION, OR IN COMBINATION WITH OTHER SOFTWARE (EXCEPT AS PERMITTED BY THE DOCUMENTATION), OR THAT ALL PROGRAM DEFECTS ARE CORRECTABLE.  THE FOREGOING WARRANTIES ARE EXCLUSIVE AND IN LIEU OF ALL OTHER WARRANTIES, EXPRESS, IMPLIED OR STATUTORY, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE.
</p>

<p>
(c)	No Viruses.  To the best knowledge of Licensor after scanning the Software for Viruses (defined below), no portion of the Software or any hardware on which the Software will be resident will contain a “virus” or other computer software routine intended or designed to, or which has the capacity to: (i) permit access or use of the Software or the Licensee’s systems by any person not authorized by Licensee; or (ii) disable, damage, erase, disrupt or impair the normal operation of the Software or any other software or data on Licensee’s computer systems (collectively, “Viruses”).  
</p>


<p>
(d)	Uptime Warranty.  Licensor represents and warrants that the Software shall be available 24 hours per day, 7 days per week, excluding periods of system maintenance and situations where the Software is not accessible for causes beyond reasonable control including power outages, fire, flood, war, terrorism, or cyber terrorism, or failures attributable to problems with Licensee’s systems or internet access.  If the Software is not available for more than one and fewer than four hours on any given day during the above hours of guaranteed availability, Licensee will be eligible for a credit of four hours.  The amount credited will be calculated at 4/720 of the monthly service charges for that month.  If the Software is not available for more than four hours on any given day during the above hours of guaranteed availability, Licensee will be eligible for a credit for the pro-rata portion of the monthly service charge for that day.  This amount to be refunded will be calculated as 1/30 of the aggregate monthly service charge for that month, including the Base Charge and charges for Additional Concurrent Users and Customizations, as set forth in Schedule A.  Credit shall be given under this paragraph 5(d) if Licensee is affected by the unavailability of the Software and notifies Licensor of such within 24 hours of its occurrence.  
</p>

<p>
6.	INDEMNIFICATION. Licensor will indemnify and hold Licensee harmless against any action brought against Licensee to the extent that such action is based on a claim that the unmodified Software, when used in accordance with this Agreement, infringes a United States registered copyright or patent and Licensor shall pay all costs, settlements and damages finally awarded.  However, Licensor will not be obligated to indemnify or hold Licensee harmless from any such action unless Licensee notifies Licensor in writing of any claim within 10 days after it learns of such a claim, gives Licensor sole control of the defense and settlement thereof and provides all reasonable assistance in connection therewith.  If any Software is finally adjudged to so infringe, or in Licensor’s opinion is likely to become the subject of such a claim, Licensor shall, at its option and expense, either:  (i) procure for Licensee the right to continue using the Software; (ii) modify or replace the Software to make it noninfringing; or (iii) terminate this Agreement.  Licensor shall have no liability regarding any infringement claim arising out of:  (w) use of other than a current, unaltered release of the Software unless the infringing portion is also in the then current release; (x) use of the Software in combination with non-Licensor software, data or equipment if the infringement was caused by such use or combination; (y) any modification or derivation of the Software not specifically authorized in writing by Licensor; or (z) use of third party software.  THE FOREGOING STATES LICENSOR’S ENTIRE LIABILITY AND LICENSEE’S EXCLUSIVE REMEDY FOR INFRINGEMENT OR CLAIMS OF INFRINGEMENT OF ANY COPYRIGHT, PATENT AND OTHER PROPRIETARY RIGHTS BY THE SOFTWARE.
</p>

<p>
7. LIMITATION OF LIABILITY.  IN NO EVENT WILL LICENSOR OR ANY OF ITS SUPPLIERS OR AGENTS BE LIABLE FOR LOSS OF USE, PROFIT, REVENUE, GOODWILL OR OTHER INDIRECT, INCIDENTAL OR CONSEQUENTIAL DAMAGES ARISING OUT OF THIS AGREEMENT EVEN IF LICENSOR HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES.  EXCEPT AS PROVIDED IN SECTION 6, THE AGGREGATE LIABILITY OF LICENSOR, ITS SUPPLIERS AND AGENTS FOR ALL CLAIMS (EXCLUDING CLAIMS FOR PHYSICAL INJURY OR PROPERTY DAMAGE RESULTING FROM GROSS NEGLIGENCE OR WILLFUL MISCONDUCT) ARISING OUT OF THIS AGREEMENT SHALL NOT EXCEED THE SUM OF THE LICENSE FEES PAID BY LICENSEE TO LICENSOR DURING THE PREVIOUS 12 MONTH PERIOD FOR THE SOFTWARE THAT IS THE SUBJECT MATTER OF THE CLAIM.
</p>

<p>
8.  TERM AND TERMINATION.  
</p>

<p>
(a)	Term.  This Agreement is effective as of the Effective Date and will continue in effect for a minimum of period of six (6) months, and thereafter shall be renewed automatically for successive monthly terms at the then current fee rates.    
</p>

<p>
(b)	By Licensee.  After paying all fees due under this Agreement, Licensee may terminate this Agreement upon 30 days’ prior written notice to Licensor.  Any termination will be effective upon receipt by Licensor of all Software and Documentation and the certificate contemplated by paragraph 8(e) below.   
</p>

<p>
(c)	By Licensor.  Licensor may terminate this Agreement upon 30 days' prior written notice if Licensee fails to comply with any of the terms and conditions of this Agreement, and such noncompliance is not cured within such 30 day period.  
</p>

<p>
(d)	Automatic Termination.  Licensee's insolvency, receivership, bankruptcy, or assignment for the benefit of creditors will immediately terminate this Agreement without the need for any notice being given.  
</p>

<p>
(e)	Effect of Termination.  Upon any termination of this Agreement, all licenses will terminate and Licensee shall return the Software, in whatever format, together with the Documentation and shall delete all copies of the Software from its computer system(s).  Licensee must promptly certify to Licensor in writing that it has taken all such actions.  Licensor will have no obligation to refund any amounts paid by Licensee under this Agreement upon its termination.
</p>

<p>
9.	GENERAL.
</p>

<p>
(a)	Notices. Any notice required or permitted hereunder shall be in writing and shall be deemed to have been duly given (i) upon hand delivery, (ii) on the third day following delivery to the U.S. Postal Service as certified mail, return receipt requested and postage prepaid, (iii) on the first day following delivery to a recognized overnight courier service, fee prepaid and return receipt or other confirmation of delivery requested, (iv) upon confirmation of receipt by the party to receive such notice, of a fax sent to the fax number of such party, or (v) upon confirmation of receipt by the party to receive such notice, of an e-mail sent to the e-mail address of such party.  Any such notice shall be delivered or sent to a party at its address, fax number or e-mail address as set forth beneath its signature on this Agreement, or to such other address or fax number as may be designated by a party in a notice given to the other from time to time in accordance with the terms of this paragraph.
</p>

<p>
(b)	Governing Law and Dispute Resolution.   This Agreement will be governed by and interpreted in accordance with the laws of the State of New York, excluding its conflicts of law principles.  In the event that any legal proceedings are commenced with respect to any matter arising under this Agreement, the parties specifically consent and agree that the courts of the State of New York and/or the Federal Courts located in the State of New York will have exclusive jurisdiction over each of the parties and over the subject matter of any such proceedings, and that the venue of any such action will be in Monroe County, New York and/or the U.S. District Court for the Western District of New York.  Additionally, the party that loses any such proceeding will pay all costs and expenses incurred by the other party(s) in connection therewith, including all attorneys’ and other professional fees and expenses. 
</p>

<p>
(c)	Assignment. Licensee may not assign this Agreement without the prior written consent of Licensor.  For all purposes under this Agreement, any merger, consolidation, spin-off, acquisition of or change-in-control involving Licensee will be deemed an assignment.  Any attempted assignment by Licensee will be invalid.
</p>

<p>
(d)	Partial Invalidity.  If any provision of this Agreement is held invalid or unenforceable by competent authority, that provision will be construed so as to be limited or reduced to be enforceable to the maximum extent compatible with the law as it shall then appear.  The total invalidity or unenforceability of any particular provision of this Agreement will not affect its other provisions and this Agreement will be construed in all respects as if the invalid or unenforceable provision were omitted.
</p>

<p>
(e)	Force Majeure. Neither party will be liable for any costs or damages due to nonperformance under this Agreement arising out of any cause not within the reasonable control of such party and without its fault or negligence.  Neither party will be liable for any delay or failure in the performance of its obligations under this Agreement that directly results from any failure of the other party to perform its obligations as set forth in this Agreement.
</p>

<p>
(f)	Waiver. No waiver of a breach of any term of this Agreement will be effective unless in writing and duly executed by the waiving party.  No such waiver will constitute a waiver of any subsequent breach of the same or any other term of this Agreement.  No failure on the part of a party to exercise, and no delay in exercising, any of its rights hereunder will operate as a waiver thereof, nor will any single or partial exercise by a party of any right preclude any other or future exercise thereof or the exercise of any other right.  No course of dealing between the parties will be deemed effective to modify, amend or discharge any part of this Agreement or the rights or obligations of any party hereunder.
</p>

<p>
(g)	Entire Agreement.  This Agreement, together with any attached Schedule, contains the entire understanding of the parties with respect to the transactions contemplated and supersedes any prior agreements or  understandings among the parties with respect to the subject matter hereof.  This Agreement may only be amended by a written document signed by all parties.  There are no representations, warranties, or obligations of any party not expressly contained herein.  In the event of any conflict between the terms of this Agreement and any Schedule, the terms of this Agreement will control.
</p>

<p>
(h)	Construction.  Any interpretation of this Agreement will not presume that its terms should be more strictly construed against one party by reason of any rule of construction or authorship.  The headings in this Agreement are for convenience only.  They do not constitute a portion of this Agreement and shall not be used in any construction of it.
</p>

<p>
(i)	Claims; Injunctive Relief.  Any claim arising out of or related to this Agreement must be brought no later than one year after it has accrued.  Recognizing and acknowledging that any breach by Licensee of the provisions of Section 4 will cause Licensor irreparable damage for which other remedies may be inadequate, Licensee agrees that, in addition to monetary damages and any other remedies available to Licensor at law or in equity, Licensor shall have the right to petition for such equitable relief as may be necessary to prevent such a breach or threatened breach without having to prove actual damages.
</p>

<p>
(j)	 Survival. The provisions of this Agreement that by their nature would survive its termination will survive indefinitely.
</p>

<p>
(k)	Third Party Beneficiary. Licensee hereby agrees that the licensors of third party software to Licensor shall be considered third party beneficiaries of this Agreement and shall be entitled to bring a direct action against Licensee in the event of breach of any applicable provisions of this Agreement, pursuant to the terms and conditions of this Agreement.
</p>



 

 
<p>
SCHEDULE A
LICENSED SOFTWARE; SCOPE OF LICENSE; LOCATION(S); LICENSE FEES
</p>

<p>
1.	The following Software is being licensed to Licensee under this Agreement: 
</p>

<p>
Gradesnap
</p>

<p>
2.	SCOPE OF LICENSE.  
(Dependent per user)
</p>

<p>
3.	LOCATION(S). 
	The Software will reside on the Licensor’s hosting site.  
</p>

<p>
4.  LICENSE FEES. 
</p>


<p>
Base Charge:				$10.00 per month/$100 per year includes 1gigabyte incoming data per month
</p>


<p>
Additional Concurrent Users Charge: 		$10.00 per month/$100 per year includes 1gigabyte incoming data per month
</p>


<p>
Customizations:				to be determined
</p>


<p>
Other Charges:  				$0.10 per each additional gigabyte of incoming data per month
</p>

<%= form_tag :action => "confirm_eula", :validate => true %>
	<%= hidden_field_tag "params" ,params %>
<%= submit_tag "hellyes mang", :class =>'btn btn-success'%>
<%= button_to "no way dude", :action => "index", :controller => "prelogins"%>
</div>