<!DOCTYPE html>
<html lang="en">
  <head>
    <link href='//fonts.googleapis.com/css?family=Tienne' rel='stylesheet' type='text/css'>
  </head>
<body data-spy="scroll" data-target=".subnav" data-offset="50">


  		<div class="preLogin">
   			<%= form_tag :action=>'forgot_password'%>
			<h3>Forgotten password</h3>
			Email:<br /> <%= text_field "user","email" %><br/>
			<%= submit_tag 'Email password' %>
			<% $end -%>
  </div>
   <div class="datHeader">
    <div class="container">
       <div class="row">
        <!-- -->
         <div class="span4">
          <p>
          </p>
          <p>
          </p>
        </div>
        <!-- -->
         <div class="span4">
          <p>
            <p></p>
          </p>
          <p>
          </p>
        </div>
        <!-- -->
         <div class="span4">
          <p>
           
          </p>
       
        </div>
        <!-- -->
       </div>
      </div>
  </div>
</body>
</html>


