    <div class="bodyWrapper">
      <div class="container">
        <%= render "betabutton" %>
        <%= render "homechunk" %>
      </div>
    </div>
        <%= render "homemid" %>
    </div>
</div>
