<div id="home"></div>
<section class="container">
    <nav class="navbar">
        <div class="navbar-inner navbar-fixed-top ">
            <div class="container borderBottom">
                <a href="/" class="brand">Grade<span>snap</span><%= image_tag "logo.png"%></a>
                <ul class="nav">
                    <li><a href="#home">Home </a></li>
                    <li><a href="#works">How It Works</a></li>
                    <li><a href="#features">Features</a></li>
                    <li><a href="#about">About</a></li>
                    <li><a href="#contact" class="showContact">Contact</a></li>
                    <li><a href="legal.html">Legal</a></li>
                </ul>
            </div>
        </div>
    </nav>
</section>
<div class="container">
    <div class="contactInfo">
        contact@gradesnap.com
    </div>
</div>
<script>
    $(".showContact").click(function(){
        $(".contactInfo").fadeToggle(250);
    });
</script>
<section class="section-box">
    <div class="container">
        <div class="row">
            <div class="ill">
               <%= image_tag "ill_us.png"%>
            </div>
            <div class="expo">
                <h2 class="expoLarge">Grading, The Way It Should Be</h2>

                <p class="expoText">Print our multiple-choice tests sheets for free, scan the finished tests with a conventional scanner, upload the tests to your Gradesnap account, and we'll have them graded in seconds. It's that simple.</p>

                <p class="promo">Gradesnap is currently in public beta and is free for all users for a limited time!</p>
                <div class="dottedLine"></div>
                <p class="expoText"><a href="#" class="big-btn">Sign Up!</a><a href="https://gradesnap.com/prelogins/login" class="big-btn2">Sign In</a></p>
            </div>
        </div>
    </div>
</section> 
<section class="container">
                        <h2 class="expoLarge">How Gradesnap Works</h2>
    <div class="howItWorks">
            <iframe width="650" height="488" src="http://www.youtube.com/embed/AiZRW4ZQoQY" frameborder="0" allowfullscreen></iframe>
    </div>
</section>
<div class="container">       
</div>
<section class="section-box">
    <div class="container">     
                            <h2 class="expoLarge">So Gradesnap just grades my students tests?</h2>  
        <div class="row">         
            <article class="span4 center-align">                           
                <h3>Statistics</h3>
                <p>All the way from the class average down to the results for each question Gradesnap will keep you well-informed about your students' performance without have to lift a finger.</p>
            </article>
            <article class="span4 center-align">
                <h3>Spreadsheets</h3>
                <p>Gradesnap generates an Excel spreadsheet of your students' results, making it easy to plug directly into your gradebook, and compare with other classes.</p>
            </article>
            <article class="span4 center-align">
                <h3>Error-Checking</h3>
                <p>No more worry about students complaining that the machine read their test wrong. Smudgy answers will be flagged for a quick fix, handling the issue early.</p>
            </article>                      
      </div>
        <div id="about"></div>
    </div>   
</section> 
<section class="container">
  <div class="row">
        <div class="offset3 span6">
            <hr class="shadow-line"/>
        </div>
    </div>
  <div class="row">
      <div class="highlight span12">
            <h3><strong>Who</strong> is Grade<span class="thin">snap</span></h3> 
            <h3 class="subhead">The Story...</h3> 
            <p class="boxText">Gradesnap started with one very simple idea. How can grading be faster?In early 2011, our co-founder, Nikko Schaff, was sitting down to take a midterm, noticing that the multiple-choice bubbles were extremely wide. When asking why, the professor explained that his answer key is the same sheet with the right answers cut out, so he can lay it over a student's sheet and count the right answers quickly. "Taking a picture and grading with an iPhone app might work too," Nikko thought out loud. Thinking no more of it, he took his test and left.</p>

            <p class="boxText">Two days later, upon coming into class, the professor approached Nikko and said, "Hey, yesterday I talked to five of my teacher-friends about the grading app idea, and we all want it!" That was more than enough to show him that teachers really wanted a simple way to grade their exams, so he formed a team to launch a company with one goal: to make teachers' lives better through software.</p>
            <h3 class="subhead">The Team</h3> 
            <span class="names">Nikko Schaff | CEO</span></p>
            <span class="names">Ryan Rich | UX/UI Designer</span></p>
            <span class="names">Conor Craig | Software Engineer</span></p>                                
      </div>
    </div>
</section>
<section class="container">
    <div class="row">
        <div class="highlight span12">
        <div class="finalChance">
            <h2 class="lighterColor2">Gradesnap is free for a limited time, so what are you waiting for? Sign up now!</h2>      
            <p><a href="#" class="big-btn">Sign Up</a></p> 
        </div> 
    </div>
    </div>
</section>
