<div class="container">
	<%= render :partial => 'logo' %>
	<br />

	<div class="widget">

		<div class="widget-content">
			<div class="pricing-plans plans-2">

				<div class="plan-container">
					<div class="plan">
						<div class="plan-header">

							<div class="plan-title">
								Gradesnap
								
							</div>
							<!-- /plan-title -->

							<div class="plan-price">
								<span class="note">$</span>
								4.99
								<span class="term">per month</span>
							</div>
							<!-- /plan-price -->

						</div>
						<!-- /plan-header -->

						<div class="plan-features">
							<ul>
								<li>
									Grade
									<strong>unlimited</strong>
									tests
								</li>
								<li>
									Electronic gradebook
								</li>
								<li>
									Generate statistics
								</li> 
								<li>
									Subsection analysis
								</li>
								<li>
									Export to 
									<strong>Excel, Word, PDF, </strong>
									and much more!
								</li>
							</ul>
						</div>
						<!-- /plan-features -->

						<div class="plan-actions">
							<div class="btn">
								<%= link_to 'Sign Up For Our Monthly Plan!',:action =>'new',:controller => 'users'%>
							</div>
						</div>
						<!-- /plan-actions -->

					</div>
					<!-- /plan -->
				</div>
				<!-- /plan-container -->

				<div class="plan-container">
					<div class="plan">
						<div class="plan-header">

							<div class="plan-title">
								Gradesnap (per year)
								
							</div>
							<!-- /plan-title -->

							<div class="plan-price">
								<span class="note">$</span>
								49.99
								<span class="term">per year</span>
							</div>
							<!-- /plan-price -->

						</div>
						<!-- /plan-header -->

						<div class="plan-features">
							<ul>
								<li>
									Grade
									<strong>unlimited</strong>
									tests
								</li>
								<li>
									Electronic gradebook
								</li>
								<li>
									Generate statistics
								</li> 
								<li>
									Subsection analysis
								</li>
								<li>
									Export to 
									<strong>Excel, Word, PDF, </strong>
									and much more!
								</li>
							</ul>
						</div>
						<!-- /plan-features -->

						<div class="plan-actions">
							<div class="btn">
								<%= link_to 'Sign Up For With A Yearly Fee!',:action =>'new',:controller => 'users'%>
							</div>
						</div>
						<!-- /plan-actions -->

					</div>
					<!-- /plan -->
				</div>
				<!-- /plan-container -->

			</div>
			<!-- /pricing-plans -->

		</div>
		<!-- /widget-content -->

	</div>
	<!-- /widget -->
</div>
