<div class="container">
	<%= render :partial =>
	'logo' %>
	<br />
	<div class="widget">

		<div class="widget-header">
			<h3>Available Plans For Gradesnap</h3>
		</div>
		<!-- /widget-header -->

		<div class="widget-content">

			<div class="pricing-plans plans-3">

				<div class="plan-container">
					<div class="plan">
						<div class="plan-header">

							<div class="plan-title">Gradesnap Trial</div>
							<!-- /plan-title -->

							<div class="plan-price">
								<span class="note">$</span>
								0.99
								<span class="term">TO SIGN UP</span>
							</div>
							<!-- /plan-price -->

						</div>
						<!-- /plan-header -->

						<div class="plan-features">
							<ul>
								<li> <strong>No</strong>
									monthly fee
								</li>
								<li> <strong>60</strong>
									day free trial
								</li>
								<li>
									<strong>Grade</strong>
									ulimited tests
								</li>
								<li>
									<strong>Full suite</strong>
									of statistics
								</li>
								<li>
									<strong>Full</strong>
									support
								</li>
							</ul>
						</div>
						<!-- /plan-features -->

						<form action="https://www.paypal.com/cgi-bin/webscr" method="post" class="centerPP plan-actions">
							<input type="hidden" name="cmd" value="_s-xclick">
							<input type="hidden" name="encrypted" value="-----BEGIN PKCS7-----MIIHZwYJKoZIhvcNAQcEoIIHWDCCB1QCAQExggEwMIIBLAIBADCBlDCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20CAQAwDQYJKoZIhvcNAQEBBQAEgYCpsMMucVPf86KajmUaCumAPO6nJX+yw04X+dtkd3g12wCdKEDe2Rtl18kbZ0/TVxSiPhXJPFuW3ax4Kfz2pTW5a1O1CrU00HRbXzS/494Y7XQdEByK5YCzF/yP/A/1xRpKF2m6qCREqtx5RToD52brF8nDSEOOVsU1sgf1Ocz4ojELMAkGBSsOAwIaBQAwgeQGCSqGSIb3DQEHATAUBggqhkiG9w0DBwQIUp12dyx1TaeAgcAh8nTshCWZ80GRcRElto3VX0jCkh4GkOJeDZTCOxuTj2xdZMrDD6u7nndbnAEPyEN51s8uRNNIZtmUwTS2fAnMAD+4zK+RzQcdIVA9CG8ZVrQGq06K9Y09en4k3V2h2R3ZyEX+NIQIdPoyoPpfacANEimLDhfptWM9RKIOK8Oj6VWV1q+ZnWJgTKJSnZx2FIQp5+7pFXvcLSagnrPMwUfYRb5VyldjPZp5dXGkguILnOWKENYB8nh2CuV/SGG6rdagggOHMIIDgzCCAuygAwIBAgIBADANBgkqhkiG9w0BAQUFADCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20wHhcNMDQwMjEzMTAxMzE1WhcNMzUwMjEzMTAxMzE1WjCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20wgZ8wDQYJKoZIhvcNAQEBBQADgY0AMIGJAoGBAMFHTt38RMxLXJyO2SmS+Ndl72T7oKJ4u4uw+6awntALWh03PewmIJuzbALScsTS4sZoS1fKciBGoh11gIfHzylvkdNe/hJl66/RGqrj5rFb08sAABNTzDTiqqNpJeBsYs/c2aiGozptX2RlnBktH+SUNpAajW724Nv2Wvhif6sFAgMBAAGjge4wgeswHQYDVR0OBBYEFJaffLvGbxe9WT9S1wob7BDWZJRrMIG7BgNVHSMEgbMwgbCAFJaffLvGbxe9WT9S1wob7BDWZJRroYGUpIGRMIGOMQswCQYDVQQGEwJVUzELMAkGA1UECBMCQ0ExFjAUBgNVBAcTDU1vdW50YWluIFZpZXcxFDASBgNVBAoTC1BheVBhbCBJbmMuMRMwEQYDVQQLFApsaXZlX2NlcnRzMREwDwYDVQQDFAhsaXZlX2FwaTEcMBoGCSqGSIb3DQEJARYNcmVAcGF5cGFsLmNvbYIBADAMBgNVHRMEBTADAQH/MA0GCSqGSIb3DQEBBQUAA4GBAIFfOlaagFrl71+jq6OKidbWFSE+Q4FqROvdgIONth+8kSK//Y/4ihuE4Ymvzn5ceE3S/iBSQQMjyvb+s2TWbQYDwcp129OPIbD9epdr4tJOUNiSojw7BHwYRiPh58S1xGlFgHFXwrEBb3dgNbMUa+u4qectsMAXpVHnD9wIyfmHMYIBmjCCAZYCAQEwgZQwgY4xCzAJBgNVBAYTAlVTMQswCQYDVQQIEwJDQTEWMBQGA1UEBxMNTW91bnRhaW4gVmlldzEUMBIGA1UEChMLUGF5UGFsIEluYy4xEzARBgNVBAsUCmxpdmVfY2VydHMxETAPBgNVBAMUCGxpdmVfYXBpMRwwGgYJKoZIhvcNAQkBFg1yZUBwYXlwYWwuY29tAgEAMAkGBSsOAwIaBQCgXTAYBgkqhkiG9w0BCQMxCwYJKoZIhvcNAQcBMBwGCSqGSIb3DQEJBTEPFw0xMjA4MDgyMDMzMjBaMCMGCSqGSIb3DQEJBDEWBBQsi/yM9/sqDrkX5KtlRLdfjkJxuDANBgkqhkiG9w0BAQEFAASBgHNom+z3Z7xk3rvJsnDtluYT6peIEmr6MKxqQtE7fkzteQN9IT1pzABCUlgAxzLhE/rbbnMeGHv5ZJewtNF+LG/q9C8U/ascgQItkaH/C+fhjOncrop10FhNAeCJWj3yWVDcpoLY0vmPWHgfVHKQK8fLbmG7ytHixmxgm/+ZUnU6-----END PKCS7-----
">
							<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
							<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1"></form>

					</div>
					<!-- /plan -->
				</div>
				<!-- /plan-container -->

				<div class="plan-container">
					<div class="plan">
						<div class="plan-header">

							<div class="plan-title">
								Gradesnap
								<span style="font-weight: 600;">BETA</span>
								<span style="color: #ff0000; font-weight: 600; background-color: #ffffff; padding: 2px;border-radius: 3px;">Coming Soon</span>
							</div>
							<!-- /plan-title -->

							<div class="plan-price">
								<span class="note">$</span>
								9.99
								<span class="term">Per Month For 3 months</span>
							</div>
							<!-- /plan-price -->

						</div>
						<!-- /plan-header -->

						<div class="plan-features">
							<ul>
								<li>
									<strong>Full</strong>
									Features
								</li>
								<li>
									<strong></strong>
									Pay per month
								</li>
								<li>
									<strong>Grade</strong>
									ulimited tests
								</li>
								<li>
									<strong>Full suite</strong>
									of statistics
								</li>
								<li>
									<strong>Full</strong>
									support
								</li>
							</ul>
						</div>
						<!-- /plan-features -->

						<div class="plan-actions">
							<a href="javascript:;" class="btn">
								<span style="color: #ff0000; font-weight: 600; background-color: #ffffff; padding: 2px;border-radius: 3px;">Coming Soon</span>
							</a>
						</div>
						<!-- /plan-actions -->

					</div>
					<!-- /plan -->
				</div>
				<!-- /plan-container -->

				<div class="plan-container">
					<div class="plan orange">
						<div class="plan-header">

							<div class="plan-title">
								Gradesnap Pro
								<span style="color: #ff0000; font-weight: 600; background-color: #ffffff; padding: 2px;border-radius: 3px;">Coming Soon</span>
							</div>
							<!-- /plan-title -->

							<div class="plan-price">
								<span class="note">$</span>
								29
								<span class="term">Per Month</span>
							</div>
							<!-- /plan-price -->

						</div>
						<!-- /plan-header -->

						<div class="plan-features">
							<ul>
								<li>
									<strong>All Gradesnap</strong>
									Features
								</li>
								<li>
									<strong>Grade</strong>
									ulimited tests
								</li>
								<li>
									<strong>Full suite</strong>
									of statistics
								</li>
								<li>
									<strong>Student</strong>
									portal
								</li>
								<li>
									<strong>Parent</strong>
									portal
								</li>
							</ul>
						</div>
						<!-- /plan-features -->

						<div class="plan-actions">
							<a href="javascript:;" class="btn">
								<span style="color: #ff0000; font-weight: 600; background-color: #ffffff; padding: 2px;border-radius: 3px;">Coming Soon</span>
							</a>
						</div>
						<!-- /plan-actions -->

					</div>
					<!-- /plan -->
				</div>
				<!-- /plan-container -->

			</div>
			<!-- /pricing-plans -->

		</div>
		<!-- /widget-content -->

	</div>
	<!-- /widget -->
</div>