  <%= render :partial => 'logo' %>
<!-- end navbar -->
  <div class="datHeader">
    <div class="container">
      <div class="row">
        <div class="span4">
                <p class="headerP">Beta Sign Up</p>
          <p>
             Currently Gradesnap is in Beta Testing. We are always looking for more teachers from around the world to test our product and give us the feedback we need in order to make this better for you.
          </p>
         <p>
            Being a beta tester is absolutely free. Sign up as a beta today and be a part of the future of grading. As an added bonus we are letting all BETA users get Gradesnap for just $50! Act now, BETA ends September 30th!
          </p>
        </div>
        <div class="span5">
	         <%= render :partial => 'signMe' %>
        </div>
      </div>
    </div>
  </div>
  <div class="datHeader">
    <div class="container">
       <div class="row">
        <!-- -->
         <div class="span4">
          <p>
          </p>
          <p>
          </p>
        </div>
        <!-- -->
         <div class="span4">
          <p>
            <p></p>
          </p>
          <p>
          </p>
        </div>
        <!-- -->
         <div class="span4">
          <p>
           
          </p>
       
        </div>
        <!-- -->
       </div>
      </div>
  </div>
<!-- end body container -->
