  <div class="logo">
  <div class="container">
    <%= image_tag('/assets/logo.png') %>
    <%= image_tag('/assets/current.png' , :class =>'pull-right fux' ) %></div>
</div>
<!-- end navbar -->
<div class="datHeader">
  <div class="container">
    <div class="alert alert-info">
     <strong>Sign up with Gradesnap today and experience the future of grading.</strong>
    </div>
  </div>
</div>
  <div class="datHeader">
    <div class="container">
	<%= render :partial => 'signMe' %>
    </div>
  </div>
  <div class="datHeader">
    <div class="container">
       <div class="row">
        <!-- -->
         <div class="span4">
          <p>
          </p>
          <p>
          </p>
        </div>
        <!-- -->
         <div class="span4">
          <p>
            <p></p>
          </p>
          <p>
          </p>
        </div>
        <!-- -->
         <div class="span4">
          <p>
           
          </p>
       
        </div>
        <!-- -->
       </div>
      </div>
  </div>
<!-- end body container -->
