  <%= render :partial => 'logo' %>
<!-- end navbar -->
  <div class="datHeader">
    <div class="container">
	<%= render :partial => 'signMe' %>
    </div>
  </div>
  <div class="datHeader">
    <div class="container">
       <div class="row">
        <!-- -->
         <div class="span4">
          <p>
          </p>
          <p>
          </p>
        </div>
        <!-- -->
         <div class="span4">
          <p>
            <p></p>
          </p>
          <p>
          </p>
        </div>
        <!-- -->
         <div class="span4">
          <p>
           
          </p>
       
        </div>
        <!-- -->
       </div>
      </div>
  </div>
<!-- end body container -->
