<div class="container">

	Thank you for your feedback.
	<p>
		Back to:
	
	<% if session[:user] %>
		<%= link_to "Dashboard", :action => "dashboard", :controller => "sessions" %>
	<% else %>
		<%= link_to "Home page", :action => "index", :controller => "prelogins" %>
	<% end %>
	</p>
</div>