<div class="bodyWrapper">
  <div class="container">
    <h1>Statistics</h1>

    <%= link_to 'Courses', :action => 'courses', :controller => 'stats' %>
    <%= link_to 'Assignments', :action => 'assignments', :controller => "stats" %>
    <%= link_to 'Students', :action => 'students', :controller => "stats" %>

    <%= link_to 'Back', :action => 'dashboard', :controller => "sessions" %>

  </div>
</div>


