<div class="bodyWrapper">
    <div class="container">
       	<div class="mid">
			<div class="midText">
				<div class="dashBoard">
					<div class="statisticalStuff">
						<% case @code %>
							<% when "course" %>
						    	<%= render 'statsCourseOutput' %>
							<% when "assignment" %>
						    	<%= render 'statsAssignmentOutput' %>
							<% when "student" %>
						    	<%= render 'statsStudentOutput' %>
							<% else %>
								<h1>No course, student, or assignment selected</h1>
						<% end %>
					</div>
				</div>
            	<%= link_to 'Back', :action => 'index', :controller => "#{@code}s" %>
            </div>
        </div>
    </div>    
</div>