<div class="bodyWrapper">
    <div class="container">
    	<h1>Stats for Students</h1>
		<h2>All Students:</h2>
		<% if @students == [] %>
			(You currently have no students)
		<% else %>
			<% @students.each do |student| %>
			<p>
			<%= link_to "#{student.full_name}", :action => 'show', :controller => 'stats', :id => assignment.id, :code => "student" %> 
			</p>	
			<% end %>
		<% end %>
  	</div>
</div>



